{% extends 'base.html' %}

{% block title %}Dila Gori - Sakartelo Foot{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='image/gori.png') }}" alt="Logo du fila-gori" width="180">

<h2>Dila Gori</h2>
<p>Dila Gori est une équipe de football située à Gori...</p>
<p>Le FC Dila Gori, un club de football fondé en 1955 et situé dans la ville historique de Gori, est un symbole de la résilience et de l'âme combattive du peuple géorgien. Voici une petite histoire pour capturer l'esprit de ce club.</p>
<p>Dans la ville de Gori, berceau de l'un des plus grands leaders géorgiens, Joseph Staline, le FC Dila Gori représentait plus qu’une simple équipe de football. Il incarnait la fierté et l'esprit d’une région riche en histoire, un club fier de ses racines et toujours déterminé à se battre, même face à l’adversité.

    Un jour, lors d'une rencontre décisive pour la qualification en Premier League géorgienne, le Dila Gori se retrouvait face à une équipe favorite, bien mieux équipée et plus expérimentée. Mais à Gori, la tradition était plus forte que tout. Les supporters, qui remplissaient les tribunes du Stade Tengiz Burjanadze, étaient venus pour voir leur équipe livrer une bataille mémorable. Ils savaient que leur équipe n'avait pas les mêmes ressources, mais elle avait quelque chose de plus précieux : un cœur énorme.
    
    Le match était tendu, chaque équipe luttant pour dominer le jeu. Mais à chaque attaque de l’adversaire, la défense de Dila Gori, menée par le capitaine Levan Tskitishvili, se tenait ferme, repoussant les vagues d'attaque avec une détermination sans faille. Le public ne cessait de chanter et d’encourager son équipe, un véritable soutien inébranlable.
    
    À la 85e minute, avec le score toujours de 0-0, Dila Gori lança une contre-attaque fulgurante. Un centre parfait de Giorgi Zaria trouva Vasilios Karakasis, l’attaquant du club, qui, d’un tir magistral à l'entrée de la surface, déjoua le gardien adverse. Le ballon s’écrasa dans le fond des filets, et le stade explosa de joie. Le FC Dila Gori venait de marquer le but qui allait les propulser vers la victoire.
    
    Les supporters en larmes et en liesse célébraient cette victoire mémorable, bien plus qu’un simple match gagné. C’était un triomphe pour la ville de Gori, pour ses habitants, et pour un club qui avait toujours cru que rien n’était impossible avec le courage et l’unité.
    
    </p>

    <p>Ainsi, le FC Dila Gori est devenu bien plus qu’un club de football. Il symbolisait la résilience et l’esprit d’une communauté fière, toujours prête à se battre, sur et en dehors du terrain. Chaque victoire, chaque match joué par Dila Gori était un rappel de l'importance de croire en soi, peu importe les obstacles, et de ne jamais renoncer à ses rêves.</p>

    <a href="javascript:history.back()" class="back-arrow">← Retour</a>

{% endblock %}
