{% extends 'base.html' %}

{% block title %}Gagra - Sakartelo Foot{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='image/gagra.png') }}" width="180">

<h2>Gagra</h2>
<p>Gagra est un club basé à Gagra...</p>
<p>Le FC Gagra, un club au cœur de l'Abkhazie, possède une histoire unique et pleine de passion. Voici une petite histoire pour capturer l'esprit de ce club.</p>
<p>Dans la belle région de l'Abkhazie, à l'ombre des montagnes et près de la mer Noire, le FC Gagra a toujours été plus qu’un simple club de football. Fondé en 1937, ce club représente l’espoir, la fierté et la force d’une région qui, malgré les épreuves, n’a jamais perdu son amour pour le sport et sa passion pour le jeu.

    Un jour, lors d’un match déterminant pour la montée en première division géorgienne, le FC Gagra se retrouvait face à un adversaire redouté, une équipe habituée aux grandes victoires. Gagra, avec son stade modeste et son équipe qui n’avait pas toujours les mêmes ressources, était pourtant prêt à relever le défi.
    
    Le match se déroulait sous une pluie fine, et les supporters, bien que peu nombreux, étaient incroyablement bruyants et passionnés. Ils soutenaient leur équipe avec une ferveur que l’on ne voyait que dans les clubs les plus enracinés. L’équipe de Gagra, menée par leur capitaine Murat Nagiyev, un joueur aussi technique que déterminé, faisait face à un adversaire imposant, mais chaque joueur portait sur ses épaules l’espoir de sa ville et de sa région.
    
    À la 80e minute, après un match âprement disputé, le FC Gagra obtint un corner décisif. Giorgi Jikia, l'un des défenseurs les plus solides du club, s’élança dans les airs avec une détermination sans faille. D’un coup de tête précis, il envoya le ballon dans les filets adverses, marquant ainsi le but de la victoire. La foule, en délire, sauta de joie. Le FC Gagra venait d’obtenir la victoire, mais au-delà de ce simple match, c'était la victoire d’un peuple, d’une région, et de l'esprit indomptable du club.</p>
    <p>Ce soir-là, le FC Gagra n’était pas seulement un club de football ; c’était le cœur battant de la ville, un symbole d’unité et de résilience. Chaque match joué par Gagra allait bien au-delà du terrain, portant avec lui l’espoir et la fierté d’une région qui, à travers ses victoires, rappelait à tous que la passion et l’esprit d’équipe étaient toujours plus forts que tout.</p>
    
    <a href="javascript:history.back()" class="back-arrow">← Retour</a>

{% endblock %}
