{% extends 'base.html' %}

{% block title %}Histoire - Sakartelo Foot{% endblock %}

{% block content %}
<h2>Histoire du football géorgien</h2>
<p>Le football en Géorgie a une histoire riche et passionnée. Depuis les premières compétitions nationales dans les années 1920 jusqu'aux performances de l'équipe nationale moderne, le pays a toujours montré un grand amour pour ce sport. Les équipes géorgiennes ont marqué l'histoire avec des victoires importantes et des moments mémorables, et les joueurs géorgiens sont devenus célèbres à l'international, notamment en Russie et en Europe.</p>
{% endblock %}
