{% extends 'base.html' %}

{% block title %}Accueil - Sakartelo Foot{% endblock %}

{% block content %}
<h2>Bienvenue sur Sakartelo Foot !</h2>
<p>Ce site est dédié aux passionnés de football géorgien. Vous y trouverez des actualités, des analyses, des résultats et des informations sur les équipes et les joueurs qui font vivre ce sport en Géorgie. Notre objectif est de partager cette passion unique et de créer une communauté autour du football géorgien. Que vous soyez fan, curieux ou simplement intéressé par le sport, SakarteloFoot est votre portail pour découvrir cet univers.</p>
{% endblock %}
