{% extends 'base.html' %}

{% block content %}

<img src="{{ url_for('static', filename='image/poti.png') }}" width="180">

<h2>Kolkheti 1913</h2>
<p>Informations sur Kolkheti 1913...</p>
<p>Le FC Kolkheti 1913, un club de football originaire de la ville de Poti, sur la côte de la mer Noire, est un club historique avec une grande tradition. Voici une petite histoire qui capture l'esprit de ce club.</p>
<p>Dans la ville portuaire de Poti, située sur les rives de la mer Noire et riche en histoire, le FC Kolkheti 1913 a toujours été un symbole de la passion locale pour le football. Fondé en 1913, le club porte fièrement le nom de la région historique de Kolkheti, un territoire ancien aux traditions fortes, et il incarne l'esprit de cette terre fière et résiliente.

    Un jour, lors d’un match crucial pour la qualification en première division géorgienne, le FC Kolkheti 1913 se retrouva face à un adversaire de taille, un club réputé pour sa puissance et son expérience. Cependant, les joueurs de Kolkheti, soutenus par leur public fidèle et bruyant, ne comptaient pas céder face à la pression. Ils avaient un objectif clair : représenter leur ville, leur histoire, et se prouver à eux-mêmes qu’ils étaient prêts à rivaliser avec les meilleurs.
    
    Le Stade Kolkheti de Poti était un véritable chaudron ce jour-là. Les chants des supporters résonnaient dans tout le stade, unissant les joueurs et les supporters dans un même élan de fierté et de détermination. Le match commença sur un rythme effréné, chaque équipe cherchant à imposer sa domination, mais le FC Kolkheti 1913, avec son esprit combatif, résistait bien face à l’attaque de l’adversaire.
    
    À la 70e minute, alors que le score était de 0-0, une contre-attaque bien menée par Zaza Kvirikashvili, le meneur de jeu du club, changea la donne. Kvirikashvili fit une passe lumineuse à Levan Tarkhnishvili, l’attaquant de Kolkheti, qui se retrouva face au gardien adverse. Avec une grande sérénité, Tarkhnishvili arma son tir et envoya le ballon dans le fond des filets, offrant ainsi à Kolkheti un avantage crucial.
    
    Les supporters explosèrent de joie, leurs chants se transformant en une véritable fête. Les joueurs se précipitèrent pour célébrer ce moment inoubliable avec leurs fans. La victoire était désormais en poche, et avec elle, la qualification en première division était assurée. Le FC Kolkheti 1913 venait de réaliser un exploit historique, prouvant que la passion et l'unité d'une équipe pouvaient surpasser toutes les attentes.</p>
    <p>Ce jour-là, FC Kolkheti 1913 ne remportait pas seulement un match, mais une victoire symbolique pour la ville de Poti et pour toute la région de Kolkheti. Ce club historique, fort de ses racines et de sa détermination, continuait de rappeler que dans le football, tout est possible lorsque l'on croit en soi et que l’on joue avec cœur et fierté.</p>
    
    <a href="javascript:history.back()" class="back-arrow">← Retour</a>

{% endblock %}